h1.error {
  line-height: 1.5em;
}
h6 {
  line-height: 1.5em;
  &.heading span {
    background-color: #f5f8fa;
  }
}
html {
  background-color: #f5f8fa;
}
blockquote p, h1.error, p:empty {
  margin-bottom: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, pre code, section {
  display: block;
}
.button {
  text-decoration: none;
  &:hover, &:visited {
    text-decoration: none;
  }
}
a, ins {
  text-decoration: none;
}
.responsive-wrapper, img {
  max-width: 100%;
}
.clear, .clearfix:after, .container-fluid:after, .container:after, .row:after {
  clear: both;
}
a, abbr, acronym, address, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
.post-box.post-link h5 a, blockquote, dfn, em, var {
  font-style: italic;
}
ol, ul {
  padding-left: 1.2em;
}
*, html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-size: 87.52%;
  line-height: 1.6875;
  font-family: 'Droid Serif', sans-serif;
  color: #66757f;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.owl-carousel {
  -webkit-tap-highlight-color: transparent;
  .owl-controls, .owl-item {
    -webkit-tap-highlight-color: transparent;
  }
}
h1, h2, h3, h4, h5, h6, li, p {
  overflow-wrap: break-word;
  word-wrap: initial;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', sans-serif;
  color: #2D3291;
}
h1, h3, h4, h5 {
  font-weight: 400;
}
h2, h6 {
  font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: inherit;
}
h1 {
  margin-bottom: .5em;
  font-size: 4.2em;
  letter-spacing: -1px;
  line-height: 1em;
  &.error {
    font-size: 10em;
  }
}
h2, h3 {
  line-height: 1.33333333em;
  letter-spacing: -1px;
}
h2 {
  margin-bottom: .4em;
  font-size: 3.75em;
}
h3 {
  margin-bottom: .5em;
  font-size: 3em;
}
h4 {
  margin-bottom: .75em;
  font-size: 2.25em;
  line-height: 1.1428571429em;
}
h5 {
  margin-bottom: 1.25em;
  font-size: 1.5em;
  line-height: 1.3333333333em;
}
form, h6, ol, p, pre, ul {
  font-size: 1em;
  margin-bottom: 1.5em;
}
h6 {
  font-family: Roboto, sans-serif;
  color: #2D3291;
  letter-spacing: 4px;
  text-transform: uppercase;
  &.heading {
    position: relative;
    color: #ccd6dd;
    span {
      position: relative;
      z-index: 2;
      padding-right: 2em;
    }
  }
}
ins, mark {
  padding: 0.1em 0.2em;
}



form, ol, p, pre {
  line-height: 2em;
}
ul {
  line-height: 2em;
  list-style: square;
}
ol li, ul li {
  margin-left: 1.2em;
}
ol {
  list-style: decimal;
}
li {
  ol, ul {
    margin: 0;
    padding-left: 0;
  }
}
ul {
  &.circle {
    list-style-type: circle;
  }
  &.disc {
    list-style-type: disc;
  }
}
ol {
  &.upper-roman {
    list-style-type: upper-roman;
  }
  &.lower-roman {
    list-style-type: lower-roman;
  }
  &.upper-alpha {
    list-style-type: upper-alpha;
  }
  &.lower-alpha {
    list-style-type: lower-alpha;
  }
}
strong {
  font-weight: 700;
}
acronym, dt, q, var {
  font-weight: 500;
}
.small, small {
  font-size: 81.25%;
}
.big, big {
  font-size: 112.5%;
}
blockquote {
  padding: 1em 0;
  margin-bottom: .666667em;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.25em;
  line-height: 1.3333325em;
  text-align: center;
  quotes: none;
  color: #2D3291;
  p {
    line-height: inherit;
  }
  cite {
    display: block;
    margin-top: .25em;
    font-size: 0.5em;
  }
}
address, dd, dl {
  margin-bottom: 1.5em;
}
dt {
  font-size: 1.1em;
}
abbr[title] {
  border-bottom: 1px dotted #e1e8ed;
  cursor: help;
}
ins {
  background-color: #fffad4;
}
mark {
  background-color:#2D3291;
  color: #fff;
}
code, pre {
  background-color: #fafafa;
}
code, kbd, pre, samp, tt {
  font-family: Monaco, "Courier New", monospace;
}
pre {
  padding: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  code {
    padding: 0;
    border: 0;
  }
}
sub {
  position: relative;
  font-size: .8em;
  line-height: 0;
}
sup {
  position: relative;
  font-size: .8em;
  line-height: 0;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  height: auto;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.sep, hr {
  height: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 1px solid #e1e8ed;
  line-height: 1;
  text-align: center;
}
.text-left {
  text-align: left;
}
table {
  caption, th {
    text-align: left;
  }
}
hr {
  -moz-box-sizing: content-box;
}
.sep.red {
  border-top: 3px solid #ff2641;
  width: 30px;
}
.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.clearfix {
  &:after, &:before {
    display: table;
    content: " ";
  }
}
.container-fluid {
  &:after, &:before {
    display: table;
    content: " ";
  }
}
.container {
  &:after, &:before {
    display: table;
    content: " ";
  }
}
.row {
  &:after, &:before {
    display: table;
    content: " ";
  }
}
.post-box {
  .arrow-icon {
    &:after, &:before {
      content: "";
    }
  }
  .play-icon:before {
    content: "";
  }
}
.clear {
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
form {
  margin-bottom: 1.5em;
}
label, legend {
  display: block;
  font-weight: 400;
  font-size: .9em;
  color: #333;
}
input {
  &[type=date], &[type=email], &[type=number], &[type=password], &[type=search], &[type=tel], &[type=text], &[type=url] {
    width: 100%;
    max-width: 100%;
    padding: 1em;
    margin: 0 0 1em;
    border: 1px solid #ccd6dd;
    font-family: Droid, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
    background-color: #2D3291;
    color: #fff;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
    -webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
}
select, textarea {
  width: 100%;
  max-width: 100%;
  padding: 1em;
  margin: 0 0 1em;

  font-family: Droid, Arial, sans-serif;
  line-height: normal;
  vertical-align: baseline;
  background-color: #2D3291 !important;
  color: #fff;
  outline: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  -webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.underline input[type=tel].underline {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
input {
  &[type=date].underline, &[type=email].underline, &[type=number], &[type=password].underline, &[type=search].underline, &[type=text].underline, &[type=url].underline {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

input {
  &[type=date]:hover, &[type=email]:hover, &[type=number]:hover, &[type=password]:hover, &[type=search]:hover, &[type=tel]:hover, &[type=text]:hover, &[type=url]:hover {
    border-color: #b5bec4;
  }
}
select:hover, textarea:hover {
  border-color: #b5bec4;
}
input {
  &[type=date]:focus, &[type=email]:focus, &[type=number]:focus, &[type=password]:focus, &[type=search]:focus, &[type=tel]:focus, &[type=text]:focus, &[type=url]:focus {
    border-color: #2D3291;
  }
}
select:focus, textarea:focus {
  border-color: #2D3291;
}
input {
  &[type=date]:focus:invalid, &[type=email]:focus:invalid, &[type=number]:focus:invalid, &[type=password]:focus:invalid, &[type=search]:focus:invalid, &[type=tel]:focus:invalid, &[type=text]:focus:invalid, &[type=url]:focus:invalid {
    border-color: #cb3315;
  }
}
textarea:focus:invalid {
  border-color: #cb3315;
}
input:invalid, textarea:invalid {
  box-shadow: none;
}
input[disabled], select[disabled], textarea[disabled] {
  cursor: default;
  opacity: 0.5;
}
input {
  &[type=checkbox], &[type=radio] {
    display: inline;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
label {
  &.checkbox, &.radiobox {
    margin-bottom: 1em;
  }
}
select {
  padding: 0.636em 0.7em;
  &::-ms-expand {
    display: none;
  }
}
textarea {
  min-height: 6.3em;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input[type=search] {
  -webkit-appearance: textfield;
  &::-webkit-search-cancel-button, &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}
.button, button {
  display: inline-block;
  padding: 1em 2em;
  line-height: normal;
  margin: 0 0 1.2em;
  border: 1px solid #ccd6dd;
  font-family: Droid, Arial, sans-serif;
  font-size: 1em;
  font-weight: inherit;
  vertical-align: middle;
  text-decoration: none;
  background-color: #ff2641;
  color: #fff;
  cursor: pointer;
  outline: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
input {
  &[type=button], &[type=reset], &[type=submit] {
    display: inline-block;
    padding: 1em 2em;
    line-height: normal;
    margin: 0 0 1.2em;
    border: 1px solid #ccd6dd;
    font-family: Droid, Arial, sans-serif;
    font-size: 1em;
    font-weight: inherit;
    vertical-align: middle;
    text-decoration: none;

    background-color: #ff2641;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
}
.button {
  &:focus, &:hover {
    border-color: #2D3291;
  }
}
button {
  &:focus, &:hover {
    border-color: #2D3291;
  }
}
input {
  &[type=button] {
    &:focus, &:hover {
      border-color: #2D3291;
    }
  }
  &[type=reset] {
    &:focus, &:hover {
      border-color: #2D3291;
    }
  }
  &[type=submit] {
    &:focus, &:hover {
      border-color: #2D3291;
    }
  }
}
.button {
  &.filled, &:active {
    border-color: #2D3291;
    background-color:#2D3291;
    color: #fff;
  }
}
button:active {
  border-color: #2D3291;
  background-color:#2D3291;
  color: #fff;
}
input {
  &[type=button]:active, &[type=reset]:active, &[type=submit]:active {
    border-color: #2D3291;
    background-color:#2D3291;
    color: #fff;
  }
}
.button.grey, button.grey {
  border-color: #f5f8fa;
  background-color: #f5f8fa;
  color: #2D3291;
}
input {
  &[type=button].grey, &[type=reset].grey, &[type=submit].grey {
    border-color: #f5f8fa;
    background-color: #ff2641;
    color: #fff;
  }
}
.button.grey {
  &.filled, &:focus, &:hover {
    border-color: #2D3291;
    background-color:#2D3291;
    color: #fff;
  }
}
button.grey {
  &:focus, &:hover {
    border-color: #2D3291;
    background-color:#2D3291;
    color: #fff;
  }
}
input {
  &[type=button].grey {
    &:focus, &:hover {
      border-color: #2D3291;
      background-color:#2D3291;
      color: #fff;
    }
  }
  &[type=reset].grey {
    &:focus, &:hover {
      border-color: #2D3291;
      background-color:#2D3291;
      color: #fff;
    }
  }
  &[type=submit].grey {
    &:focus, &:hover {
      border-color: #2D3291;
      background-color:#2D3291;
      color: #fff;
    }
  }
}
.button.color, button.color {
  color: #ff2641;
}
input {
  &[type=button].color, &[type=reset].color, &[type=submit].color {
    color: #ff2641;
  }
}
.button.color {
  &.filled, &:focus, &:hover {
    border-color: #fff;
    background-color: #fff;
  }
}
button.color {
  &:focus, &:hover {
    border-color: #fff;
    background-color: #fff;
  }
}
input {
  &[type=button].color {
    &:focus, &:hover {
      border-color: #fff;
      background-color: #fff;
    }
  }
  &[type=reset].color {
    &:focus, &:hover {
      border-color: #fff;
      background-color: #fff;
    }
  }
  &[type=submit].color {
    &:focus, &:hover {
      border-color: #fff;
      background-color: #fff;
    }
  }
}
button {
  background-color: #ff2641;
  color: #fff;
}
.button.square {
  padding: 1em;
}
table {
  tfoot td, th {
    position: relative;
    padding: .6em .4em;
    border-top: 1px solid #000;
  }
}
input {
  &[type=button], &[type=reset], &[type=submit] {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
  }
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
::-webkit-input-placeholder, ::-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-style: italic;
  color: #ccd6dd;
}
.text-red, a {
  color: #ff2641;
}
table {
  width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  caption {
    padding: 0 .4em .4em;
    border: 0;
    font-weight: 700;
  }
  th {
    border-bottom: 1px solid #000;
    font-weight: 400;
    vertical-align: bottom;
  }
  tbody {
    td, th {
      padding: .4em;
      border-bottom: 1px solid #eee;
    }
    tr:last-child {
      td, th {
        border-bottom: 0;
      }
    }
    + tbody {
      border-top: 2px solid #000;
    }
  }
}

a {
  &:focus {
    outline: #ccd6dd solid 2px;
    outline: rgba(0, 0, 0, 0.1) solid 2px;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active, &:hover {
    outline: 0;
  }
  img {
    border: 0;
  }
}
img.round {
  border-radius: 100%;
}
.screen-reader-text, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.no-bottom {
  margin-bottom: 0 !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.red-border {
  border: 1px solid #ff2641;
}
.margin-left-right {
  margin-left: 1em;
  margin-right: 1em;
}
.post-box .arrow-icon:after, .thumb .info .arrow-right {
  display: inline-block;
  width: 24px;
  height: 14px;
}
.post-box .arrow-icon:after, .thumb .info .arrow-right.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -12px;
}


.container-masonry {
  padding-top: 15px;
  .box {
    margin: 15px 0 16px;
  }
}
.container-boxes .box {
  display: block;
  width: 100%;
  &.post-item {
    margin-bottom: 30px;
    background-color: #fff;
  }
  &.white-bg {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 30px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.post-box {
  background-color: #fff;
  .image-link {
    display: block;
    text-decoration: none;
    img {
      width: 100%;
    }
  }
  .arrow-icon, .play-icon {
    position: relative;
  }
  .arrow-icon {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: #fff;
      background-color: rgba(255, 255, 255, 0.85);
    }
    &.dark-overlay:before {
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.85);
    }
    &:after, &:before {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

}

.post-box {
  .extra-info {
    padding: 30px;
    .meta {
      font-style: italic;
      color: #ccd6dd;
    }
    h5 {
      margin-bottom: 0;
      a {
        text-decoration: none;
      }
    }
  }
  &.post-link h5 {
    color: #ff2641;
    a {
      color: #ff2641;
    }
  }
}
.tab-container {
  margin-bottom: 1.5em;
}
.site-title h1 {
  margin-bottom: 0;
}
.tab-container {
  .tab_content {
    :last-child {
      margin-bottom: 0;
    }
    padding: 1.75em 0;
    border-top: 1px solid #ccd6dd;
  }
  .tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 0 2em 0 0;
      &.active {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 1px;
          background-color: #ff2641;
        }
      }
      a {
        display: block;
        padding: 1em 0;
        font-weight: 700;
        letter-spacing: 4px;
        color: #8899a6;
        outline: 0;
      }
      &.active a {
        color: #2D3291;
      }
    }
  }
}
.owl-carousel {
  position: relative;
  z-index: 1;
  display: none;
  width: 100%;
  &.owl-slider {
    margin-bottom: 1.5em;
    background-color: #fafafa;
  }
  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .owl-controls {
    text-align: center;
    .owl-dot {
      cursor: pointer;
      cursor: hand;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .owl-nav {
      .owl-next, .owl-prev {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }
  &.owl-loaded {
    display: block;
  }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden {
    opacity: 0;
  }
  .owl-refresh .owl-item {
    display: none;
  }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    img {
      display: block;
      width: 100%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
  &.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .owl-animated-in {
    z-index: 0;
  }
  .owl-animated-out {
    z-index: 1;
  }
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  -webkit-transition: height .3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.owl-carousel {
  .owl-grab {

    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;
    .owl-item {
      float: right;
    }
  }
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel {
  .owl-nav, .owl-next i, .owl-prev i {
    display: none;
  }
  .owl-video-playing {
    .owl-video-play-icon, .owl-video-tn {
      display: none;
    }
  }
  .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity 0.3s ease;
  }
  .owl-next, .owl-prev {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 84px;
    height: 40px;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-position: center center;
    color: #8899a6;
  }
  .owl-next:hover {
    color: #2D3291;
  }
  .owl-prev {
    &:hover {
      color: #2D3291;
    }
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
  &.owl-round-arrows {
    .owl-next, .owl-prev {
      top: 50%;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      background: #fff;
      border-radius: 100%;
    }
  }
}
.owl-carousel {
  &.owl-round-arrows {
    .owl-next i {
      display: block;
      font-size: 1.5em;
      line-height: 59px;
    }
    .owl-prev {
      i {
        display: block;
        font-size: 1.5em;
        line-height: 59px;
        margin-right: 1px;
      }
      left: 0;
    }
    .owl-next {
      right: 0;
      i {
        margin-left: 1px;
      }
    }
  }
  .owl-dots {
    position: absolute;
    z-index: 6;
    left: 0;
    width: 100%;
    bottom: 10px;
    pointer-events: none;
  }
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  padding: 0 4px;
  pointer-events: auto;
  span {
    display: inline-block;
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #fff;
  }
  &.active span {
    background-color:#2D3291
  }
}
.owl-red-dots .owl-dots .owl-dot {
  span {
    background-color: #ccd6dd;
  }
  &.active span {
    background-color: #ff2641;
  }
}
.no-csstransforms3d #top.open-mobile-menu .site-menu-toggle em.middle {
  background-color: transparent;
}

#content .searchform input[type=submit] {
  font-family: FontAwesome;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
#hero, .image-background-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero {
  background-color: #070707;
  color: #ccd6dd;
  .inner {
    padding: 3em 0;
  }
  h1, h2, h3, h4, h5 {
    color: #fff;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.single-title {
  margin: .25em 0 1em;
  text-align: center;
}
#content {
  .margin-1 {
    height: 0.5em;
  }
  .margin-2 {
    height: 1em;
  }
  .margin-3 {
    height: 1.5em;
  }
  .margin-4 {
    height: 2em;
  }
  .margin-5 {
    height: 2.5em;
  }
  .margin-6 {
    height: 3em;
  }
}


.tags {
  margin-bottom: 0;
  strong {
    display: block;
    font-weight: 400;
    font-style: italic;
    color: #ccd6dd;
    &.padding-bottom {
      padding-top: .25em;
      padding-bottom: 1em;
    }
  }
  a {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 2px 14px;
    border: 1px solid #ccd6dd;
    border-radius: 2px;
    font-size: .9em;
    text-decoration: none;
    color: #8899a6;
    -webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:focus, &:hover {
      border-color: #8899a6;
      color: #2D3291;
    }
  }
}
.post-meta {
  position: relative;
  margin: 1.5em 0 2em;
  text-align: center;
  color: #8899a6;
  z-index: -1;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background-color: #e1e8ed;
  }
  span {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 2em;
    font-style: italic;
    background-color: #f5f8fa;
  }
}

.fa-ul {
  padding-left: 1.2em;
  margin-left: 0;
  .fa-li {
    top: 1em;
    margin-top: -.55em;
    left: -2.1em;
    width: 2.1em;
  }
}
.fa-li:before {
  color: #2D3291;
}
.fa.fa-colored:before {
  color: #ff2641;
}
.twitter-follow {
  .username {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    i {
      display: block;
      margin-bottom: .1em;
      font-size: 4.5em;
    }
  }
  .button {
    margin-bottom: 0;
  }
}
.twitter-follow-text {
  margin-top: 0.5em;
}



.widget {
  background-color: #fff;
}
.testimonial-item {
  padding: 3em 2em;
  text-align: center;
  color: #8899a6;
  em.name {
    color: #ccd6dd;
  }
}
.widget {
  padding: 30px;
  margin-top: 15px;
  margin-bottom: 45px;
  -webkit-box-shadow: 10px 10px 0 0 #f1f5f8;
  box-shadow: 10px 10px 0 0 #f1f5f8;
  &.widget_calendar, &.widget_search {
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &.fa-ul {
      padding-left: 1.2em;
    }
    ul {
      padding-left: 1em;
    }
  }
  li {
    margin-left: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    list-style: none;
    a {
      color: #66757f;
      &:hover {
        color: #ff2641;
      }
    }
    &.current-cat > a {
      color: #ff2641;
    }
  }
}
.widget-thumbs .thumbs {
  margin: 0 -5px;
}
#footer p:last-child {
  margin-bottom: 0;
}
.widget {
  table {
    margin-bottom: 0;
  }
  &.widget_search form {
    margin-bottom: 0;
    input {
      margin-bottom: 0;
    }
  }
}
.widget-thumbs a {
  float: left;
  width: 50%;
  padding: 5px;
  img {
    width: 100%;
  }
}
#content .searchform {
  position: relative;
  input[type=submit] {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 2.4em;
    height: 2.55em;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    color: #ccd6dd;
    -webkit-transition: none;
    transition: none;
  }
}
.widget table {
  tfoot td, th {
    border-top-color: #ccd6dd;
  }
}
#content .searchform input {
  &[type=submit] {
    &:focus, &:hover {
      color: #2D3291;
    }
  }
  &[type=text]:focus + input[type=submit] {
    color: #2D3291;
  }
}
.widget table {
  tbody {
    td, th {
      padding: .2em;
      text-align: center;
    }
  }
  th {
    border-bottom-color: #ccd6dd;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::-webkit-scrollbar {
    width: .75em;
    height: 0.75em;
  }
  ::-webkit-scrollbar-track {
    background-color: #f9f9f9;
  }
  ::-webkit-scrollbar-thumb:vertical {
    height: 5em;
    background-color:#2D3291
  }
}
@media (min-width: 480px) {
  #top {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  #site-menu ul {
    margin-top: 2em;
  }

  .tab-container.vertical {
    .tab_content {
      float: right;
      width: 65%;
      padding: 1em 0;
      border-top: 0;
    }
    .tabs {
      float: left;
      width: 35%;
      li {
        float: none;
        margin: 0;
        a {
          padding: 1em;
        }
        &.active:after {
          bottom: 50%;
          width: 4px;
          height: 12px;
          margin-bottom: -6px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  #top {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  #site-menu {
    a {
      padding-left: 1em;
      padding-right: 1em;
    }
    nav > ul > li {
      &.current-menu-item > a:after, &.current-menu-parent > a:after {
        left: 1em;
      }
    }
    .menu-item-search {
      transition: padding-left 0.2s ease-in-out;
      form {
        right: 3.3em;
      }
      &.hover {
        padding-left: 10.5em;
        form {
          width: 12em;
        }
      }
    }
  }
  #hero .inner {
    padding: 5em 0;
  }
  .container-masonry {
    padding-top: 25px;
  }
  .container-boxes {
    padding-top: 40px;
    .box.white-bg {
      padding: 60px 30px;
    }
  }
  .post-box {
    &.horizontal .extra-info {
      padding: 30px 30px 30px 15px;
    }
    &.vertical .extra-info {
      padding: 30px;
    }
    .extra-info .meta {
      margin-bottom: 1.5em;
    }
    &.vertical .extra-info {
      .meta {
        margin-top: 0.155em;
      }
      h5 {
        height: 5.55em;
        margin-bottom: .125em;
        -webkit-line-clamp: 4;
      }
    }
  }
  .owl-carousel .owl-dots {
    bottom: 30px;
  }
  h6.heading span {
    padding-right: 5em;
  }
  .tab-container .tabs li {
    margin-right: 3em;
  }
  .post-meta span {
    padding: 0 5em;
  }
}
@media (min-width: 1060px) {
  .owl-carousel {
    .owl-prev {
      left: -42px;
    }
    .owl-next {
      right: -42px;
    }
    &.owl-round-arrows {
      .owl-prev {
        left: -30px;
      }
      .owl-next {
        right: -30px;
      }
    }
    .owl-dots {
      bottom: 40px;
    }
    &.owl-testimonials2 .owl-dots {
      bottom: 50px;
    }
  }
  .widget {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  #site-menu {
    a {
      padding-left: 1.25em;
      padding-right: 1.25em;
    }
    nav > ul > li {
      &.current-menu-item > a:after, &.current-menu-parent > a:after {
        left: 1.25em;
      }
    }
    li.menu-item-search.hover {
      padding-left: 12em;
    }
    .menu-item-search {
      form {
        right: 3.8em;
      }
      &.hover form {
        width: 13em;
      }
    }
  }
  .container-masonry {
    .box.col-sm-7 {
      margin-bottom: 15px;
    }
  }
  .container-boxes {
    padding-top: 60px;
  }
  .post-meta span {
    padding: 0 6em;
  }
  .twitter-follow-text {
    margin-top: 1.5em;
  }
  .title-404 {
    max-width: 80%;
  }
  .go-home-404 {
    margin-bottom: 4.65em;
  }
  .tab-container.vertical .tabs li a {
    padding: 1em 2em;
  }
  .post-box {
    &.vertical .extra-info .meta {
      margin-top: 1em;
    }
    .extra-info h5 {
      height: 5.5em;
      -webkit-line-clamp: 4;
    }
    &.vertical .extra-info h5 {
      margin-bottom: .45em;
      height: 6.8em;
      -webkit-line-clamp: 5;
    }
  }
  .owl-carousel {
    .owl-prev {
      left: 10px;
    }
    .owl-next {
      right: 10px;
    }
    &.owl-round-arrows {
      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }
  }
}
@media (min-width: 1260px) {
  .tab-container .tabs li {
    margin-right: 4em;
  }
  .owl-carousel {
    .owl-prev {
      left: -32px;
      -webkit-transition: background-position .1s ease-in-out;
      transition: background-position 0.1s ease-in-out;
      &:hover {
        background-position: left center;
      }
    }
    .owl-next {
      right: -32px;
      -webkit-transition: background-position .1s ease-in-out;
      transition: background-position 0.1s ease-in-out;
      &:hover {
        background-position: right center;
      }
    }
    &.owl-round-arrows {
      .owl-prev {
        left: -30px;
      }
      .owl-next {
        right: -30px;
      }
    }
  }
}
h6.heading span, html {
  background-color: #2d3337;
}
h6.heading, label, legend {
  color: #66757F;
}
body {
  color: #8899a6;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
.dark-background h6.heading span {
  background-color:#2D3291
}
h6.heading:after {
  background-color: #ccd6dd\9 \0;
  background-image: -webkit-linear-gradient(left, #66757F, rgba(45, 51, 55, 0));
  background-image: linear-gradient(to right, #66757F, rgba(45, 51, 55, 0));
}
.dark-background h6.heading:after {
  background-image: -webkit-linear-gradient(left, #66757F, rgba(41, 47, 51, 0));
  background-image: linear-gradient(to right, #66757F, rgba(41, 47, 51, 0));
}
blockquote {
  color: #fff;
}
abbr[title] {
  border-bottom: 1px dotted #343a3d;
}
ins {
  background-color: #394146;
}
mark {
  background-color: #0B0D0E;
}
code, pre {
  background-color: #30373B;
}
.sep, hr {
  border-top: 1px solid #343a3d;
}
.sep.red {
  border-top: 3px solid #ff2641;
  width: 30px;
}
table {
  tbody + tbody, tfoot td, th {
    border-top-color: #66757F;
  }
}
input {
  &[type=date], &[type=email], &[type=number], &[type=password], &[type=search], &[type=tel], &[type=text], &[type=url] {
    border-color: #66757F;
    color: #fff;
  }
}
select, textarea {
  border-color: #66757F;
  color: #fff;
}
input {
  &[type=date]:hover, &[type=email]:hover, &[type=number]:hover, &[type=password]:hover, &[type=search]:hover, &[type=tel]:hover, &[type=text]:hover, &[type=url]:hover {
    border-color: #b5bec4;
  }
}
select:hover, textarea:hover {
  border-color: #b5bec4;
}
input {
  &[type=date]:focus, &[type=email]:focus, &[type=number]:focus, &[type=password]:focus, &[type=search]:focus, &[type=tel]:focus, &[type=text]:focus, &[type=url]:focus {
    border-color: #fff;
  }
}
select:focus, textarea:focus {
  border-color: #fff;
}
input {
  &[type=date]:focus:invalid, &[type=email]:focus:invalid, &[type=number]:focus:invalid, &[type=password]:focus:invalid, &[type=search]:focus:invalid, &[type=tel]:focus:invalid, &[type=text]:focus:invalid, &[type=url]:focus:invalid {
    border-color: #cb3315;
  }
}
textarea:focus:invalid {
  border-color: #cb3315;
}
.button, button {
  border-color: #66757F;
  color: #66757F;
}
input {
  &[type=button], &[type=reset], &[type=submit] {
    border-color: #66757F;
    color: #66757F;
  }
}
.button {
  &:focus, &:hover {
    border-color: #fff;
    color: #fff;
  }
}
button {
  &:focus, &:hover {
    border-color: #fff;
    color: #fff;
  }
}
input {
  &[type=button] {
    &:focus, &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
  &[type=reset] {
    &:focus, &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
  &[type=submit] {
    &:focus, &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
}
.button {
  &.filled, &:active {
    border-color: #66757F;
    background-color: #66757F;
    color: #fff;
  }
}
button:active {
  border-color: #66757F;
  background-color: #66757F;
  color: #fff;
}
input {
  &[type=button]:active, &[type=reset]:active, &[type=submit]:active {
    border-color: #66757F;
    background-color: #66757F;
    color: #fff;
  }
}
.button.grey, button.grey {
  border-color: #2D3439;
  background-color: #2D3439;
  color: #fff;
}
input {
  &[type=button].grey, &[type=reset].grey, &[type=submit].grey {
    border-color: #2D3439;
    background-color: #2D3439;
    color: #fff;
  }
}
.button.grey {
  &.filled, &:focus, &:hover {
    border-color: #394147;
    background-color: #394147;
  }
}
button.grey {
  &:focus, &:hover {
    border-color: #394147;
    background-color: #394147;
  }
}
input {
  &[type=button].grey {
    &:focus, &:hover {
      border-color: #394147;
      background-color: #394147;
    }
  }
  &[type=reset].grey {
    &:focus, &:hover {
      border-color: #394147;
      background-color: #394147;
    }
  }
  &[type=submit].grey {
    &:focus, &:hover {
      border-color: #394147;
      background-color: #394147;
    }
  }
}
.button.color, button.color {
  color: #ff2641;
}
input {
  &[type=button].color, &[type=reset].color, &[type=submit].color {
    color: #ff2641;
  }
}
.button.color {
  &.filled, &:focus, &:hover {
    border-color: #fff;
    background-color: #fff;
  }
}
button.color {
  &:focus, &:hover {
    border-color: #fff;
    background-color: #fff;
  }
}
input {
  &[type=button].color {
    &:focus, &:hover {
      border-color: #fff;
      background-color: #fff;
    }
  }
  &[type=reset].color {
    &:focus, &:hover {
      border-color: #fff;
      background-color: #fff;
    }
  }
  &[type=submit].color {
    &:focus, &:hover {
      border-color: #fff;
      background-color: #fff;
    }
  }
}
::-webkit-input-placeholder, ::-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #66757F;
}
table {
  th {
    border-bottom-color: #66757F;
  }
  tbody {
    td, th {
      border-bottom-color: #394147;
    }
  }
}

.text-red {
  color: #ff2641;
}
a {
  color: #ff2641;
  &:focus {
    outline: #66757f solid 2px;
    outline: rgba(255, 255, 255, 0.1) solid 2px;
  }
}
.red-border {
  border: 1px solid #ff2641;
}
.container-boxes .box {
  &.dark-bg, &.post-item {
    margin-bottom: 30px;
    background-color:#2D3291;
  }
  &.dark-bg {
    padding: 30px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.post-box {
  background-color:#2D3291;
  .extra-info .meta {
    color: #66757f;
  ;
  }
}
.tab-container {
  .tab_content {
    border-top-color: #66757F;
  }
  .tabs li {
    a {
      color: #8899a6;
    }
    &.active a {
      color: #fff;
    }
  }
}
.owl-carousel {
  &.owl-slider {
    background-color: #22272A;
  }
  .owl-next, .owl-prev {
    color: #292F33;
  }
  .owl-next:hover, .owl-prev:hover {
    color: #000;
  }
}
#site-menu a, .site-title h1 a {
  color: #fff;
}
.owl-carousel {

  &.owl-round-arrows {
    .owl-next, .owl-prev {
      background: #66757f;
    }
  }
  .owl-dots .owl-dot {
    span {
      background-color: #fff;
    }
    &.active span {
      background-color:#2D3291
    }
  }
}
.owl-red-dots .owl-dots .owl-dot {
  span {
    background-color: #8899a6;
  }
  &.active span {
    background-color: #ff2641;
  }
}
#top {
  background-color:#2D3291;
  .site-menu-toggle em {
    background-color: #fff;
  }
  &.open-mobile-menu .site-menu-toggle em.middle {
    background-color: #fff\9 \0;
  }
}
#site-menu li {
  border-top-color: #3b4247;
}
.widget table {
  tfoot td, th {
    border-top-color: #66757F;
  }
}
#site-menu {
  li.current-menu-item > a {
    background-color: #32393d;
  }
  .menu-item-search input[type=submit] {
    color: #3b4247;
  }
}
#content.dark-background {
  background-color:#2D3291
}
.social-share a {
  color: #66757f;
  &:focus, &:hover {
    color: #7a8d99;
  }
}
.tags {
  strong {
    color: #66757f;
  }
  a {
    border-color: #66757f;
    color: #8899a6;
    &:focus, &:hover {
      border-color: #8899a6;
      color: #fff;
    }
  }
}
.post-meta {
  color: #66757f;
  &:after {
    background-color: #343a3d;
  }
  span {
    background-color: #2D3337;
  }
}
.dark-background .post-meta span {
  background-color: #292F33;
}

.widget {
  background-color: #292F33;
}
.testimonial-item {
  color: #8899a6;
  em.name {
    color: #ccd6dd;
  }
}
.widget {
  -webkit-box-shadow: 10px 10px 0 0 #343A3D;
  box-shadow: 10px 10px 0 0 #343A3D;
  li {
    a {
      color: #66757f;
      &:hover {
        color: #ff2641;
      }
    }
    &.current-cat > a {
      color: #ff2641;
    }
  }
}
#content .searchform input {
  &[type=submit] {
    color: #66757F;
    &:focus, &:hover {
      color: #fff;
    }
  }
  &[type=text]:focus + input[type=submit] {
    color: #fff;
  }
}
.widget table th {
  border-bottom-color: #66757F;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::-webkit-scrollbar-track {
    background-color:#2D3291
  }
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #ff0074;
  }
}
@media (min-width: 768px) {
  #site-menu {
    li {
      border-top: 0;
      &.current-menu-item > a {
        background-color: transparent;
      }
    }
    nav > ul > li {
      &.current-menu-item > a:after, &.current-menu-parent > a:after {
        background-color: #fff;
      }
    }
    .menu-item-search form, li.menu-item-has-children ul {
      background-color:#2D3291;
    }
  }
  .post-box .extra-info h5:after {
    background: -webkit-linear-gradient(left, rgba(41, 47, 51, 0), rgba(41, 47, 51, 1) 50%);
    background: -o-linear-gradient(left, rgba(41, 47, 51, 0), rgba(41, 47, 51, 1) 50%);
    background: linear-gradient(to right, rgba(41, 47, 51, 0), rgba(41, 47, 51, 1) 50%);
  }
}
#content{
  margin-bottom: 20px;
}
.bgimage{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h1{
    font-weight: bolder;
  }
}
