
nav.navigation{


  ul.page-numbers{
    margin:0px;
    padding-bottom: 5vh;
    li{
      float: left;
      list-style: none;
      span{
        font-size:1.4rem;
        color: white;
      }
      a{
        font-size:1.4rem;
      }
    }

  }

}
