.team-member {
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-bottom: 3vh;
  cursor:pointer;
  img{
    opacity: 0.55;
    border-radius: 100%;
  }
}



.team-member:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0A246A;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s opacity, .3s visibility;
  -o-transition: .3s opacity, .3s visibility;
  transition: .3s opacity, .3s visibility;
}

.team-member:hover:before {
  opacity: .9;
  visibility: visible;
  border-radius: 100%;
}

.team-member .team-member-details {
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem 2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s opacity, .3s visibility;
  -o-transition: .3s opacity, .3s visibility;
  transition: .3s opacity, .3s visibility;

  h4{
    color: #fff;
  }
}

.team-member:hover .team-member-details {
  opacity: 1;
  visibility: visible;
}
