@media (max-width: 767px) {
  #site-menu .menu-item-has-children {
    position: relative;

    .menu-expand {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.65em 0.75rem;
    }
  }

  .no-js #site-menu .menu-item-has-children .menu-expand {
    display: none;
  }

  #site-menu {
    .menu-item-has-children {
      .menu-expand:after {
        content: '+';
        font-size: 19px;
      }

      &.collapse > .menu-expand {
        padding-left: .65rem;
        padding-right: 0.65rem;

        &:after {
          content: "—";
        }
      }
    }

    .menu-expand {
      position: absolute;
      top: 0;
      right: 0;
    }

    .menu-item-has-children {
      ul {
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all 0.2s;
      }

      &.collapse > ul {
        visibility: visible;
        opacity: 1;
        max-height: 100rem;
      }
    }
  }

  .no-js #site-menu .menu-item-has-children > ul {
    visibility: visible;
    opacity: 1;
    max-height: 100rem;
  }
}
@media (min-width: 768px) {

  body {
    font-size: 100%;
  }

  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  #top {
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    .inner {
      display: table;
      width: 100%;

      #site-menu, .site-title {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .site-title {
    padding-right: 0;
  }

  #top .site-menu-toggle {
    display: none;
  }

  #site-menu {
    visibility: visible;
    max-height: none;
    overflow: visible;
    opacity: 1;
    -webkit-transition: none;
    transition: none;

    ul {
      margin-top: 0;
      text-align: right;
    }

    li {
      display: inline-block;
      border-top: 0;
    }

    a {
      padding: .25em .75em;
      margin-top: .2em;
      margin-bottom: 0.2em;
    }

    li.current-menu-item > a {
      font-weight: 400;
      background-color: transparent;
    }

    nav {
      > ul > li {
        &.current-menu-item > a, &.current-menu-parent > a {
          position: relative;
        }

        &.current-menu-item > a:after, &.current-menu-parent > a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: .75em;
          width: 13px;
          height: 2px;
          background-color:#2D3291
        }
      }

      ul ul li.current-menu-item > a {
        color: #999;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    li.menu-item-has-children {
      position: relative;

      ul {
        visibility: hidden;
        position: absolute;
        z-index: 97;
        top: 100%;
        right: 50%;
        width: 13em;
        margin-top: .25em;
        margin-right: -6.5em;
        padding-top: 1em;
        font-size: .9em;
        text-align: center;
        background-color: #fff;
        opacity: 0;
      }
    }
  }

  .csstransitions #site-menu li.menu-item-has-children ul {
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, margin .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, margin .2s ease-in-out;
    -webkit-transition-delay: .1s;
    transition-delay: 0.1s;
  }

  #site-menu li.menu-item-has-children {
    li.menu-item-has-children ul {
      top: -.5em;
      right: 100%;
      margin: 0;
      padding-top: 0;
      font-size: 1em;
    }

    &.hover > ul {
      visibility: visible;
      margin-top: 0;
      opacity: 1;
    }
  }

  .no-touch #site-menu li.menu-item-has-children:hover > ul {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
  }

  #site-menu {
    li.menu-item-has-children li {
      display: block;
      margin-left: 0;
      background-color: #fff200;

      &:first-child {
        padding-top: 0.5em;
      }

      &:last-child {
        padding-bottom: 0.5em;
      }

      a {
        padding: .5em 1em;
        margin: 0;
        color: #000;
      }
    }

    .menu-item-search {
      a {
        display: inline-block;
        z-index: 2;
      }

      &.hover a {
        outline: 0;
      }

      a i {
        display: none;
        min-width: 14px;
        text-align: center;

        &:first-child {
          display: inline-block;
        }
      }

      &.hover a i:last-child {
        display: inline-block;
      }

      form {
        visibility: hidden;
        position: absolute;
        z-index: 98;
        top: 0;
        right: 2.8em;
        width: 4em;
        margin-top: -12px;
        background-color: #fff;
        opacity: 0;
      }
    }
  }

  .csstransitions #site-menu .menu-item-search form {
    -webkit-transition: opacity .2s ease-in-out, width .2s ease-in-out, visibility .2s ease-in-out;
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  #site-menu {
    .menu-item-search {
      form input[type=submit] {
        visibility: hidden;
      }

      &.hover form {
        visibility: visible;
        width: 11.5em;
        opacity: 1;
      }
    }

    .menu-expand, .menu-item-search.hover a i:first-child {
      display: none;
    }
  }

  #hero .inner {
    padding: 4em 0;
  }

  .post-box .arrow-icon {
    &:after, &:before {
      display: block;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  }

  .thumb .info {
    display: block;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .post-box .arrow-icon:hover {
    &:after, &:before {
      visibility: visible;
      opacity: 1;
    }
  }

  .thumb {
    a:hover .info {
      visibility: visible;
      opacity: 1;
    }

    .info .title {
      position: relative;
      display: block;
      padding-bottom: .75em;
      margin-bottom: .75em;
      letter-spacing: 3px;
      color: #000;
    }

    &.dark-overlay .info .title {
      color: #fff;
    }

    .info .title:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30px;
      height: 2px;
      background-color: #ff2641;
    }

    &.featured .info {
      .big-title {
        font-size: 2em;
        max-width: none;
      }

      .excerpt {
        display: none;
      }
    }

    .info .arrow-right {
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }

  .testimonial-item {
    padding: 5.5em 2em;
  }

  .testimonials-vertical-offset {
    margin-top: -2em;
    margin-bottom: -4.5em;
  }

  .single-title {
    margin: 0.75em 0 1.5em;
  }

  .post-meta span {
    padding: 0 3em;
  }

  #content {
    .margin-1 {
      height: 1em;
    }

    .margin-2 {
      height: 2em;
    }

    .margin-3 {
      height: 3em;
    }

    .margin-4 {
      height: 4em;
    }

    .margin-5 {
      height: 5em;
    }

    .margin-6 {
      height: 6em;
    }
  }

  .container-boxes {
    padding-top: 30px;
  }

  .tags {
    margin-bottom: 1.5em;
  }

  .owl-carousel {
    .owl-nav {
      display: block;
    }

    .owl-dots {
      bottom: 20px;
    }

    &.owl-testimonials2 .owl-dots {
      bottom: 40px;
    }
  }

  .post-box {
    &.horizontal {
      .image-link {
        float: left;
        width: 50%;
        padding-right: 15px;
      }

      .arrow-icon {
        &:before {
          right: 15px;
        }

        &:after {
          margin-left: -19px;
        }
      }
    }

    .play-icon {
      &:before {
        margin-left: -42px;
      }

      &:after {
        margin-left: -14px;
      }

      &:hover:before {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    &.horizontal .extra-info {
      float: left;
      padding: 15px 15px 15px 0;
      width: 50%;
    }

    &.vertical .extra-info {
      padding: 15px;
    }

    .extra-info {
      .meta {
        margin-bottom: 0.5em;
      }

      h5 {
        position: relative;
        height: 4em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    &.vertical .extra-info h5 {
      height: 2.64em;
      -webkit-line-clamp: 2;
    }

    .extra-info h5:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 1.4em;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &.post-link {
      padding-bottom: 100%;
      height: 0;
      overflow: hidden;
    }
  }

  h6.heading span {
    padding-right: 3em;
  }

  .tab-container.vertical {
    .tab_content {
      width: 70%;
    }

    .tabs {
      width: 30%;
    }
  }
}

